<html>
	<head>
		<meta charset="utf-8">
		<title>Projects</title>
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{{url_for('static', filename='Skeleton-2.0.4/css/normalize.css')}}">
	    <link rel="stylesheet" href="{{url_for('static', filename='Skeleton-2.0.4/css/skeleton.css')}}">
	    <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
	  </head>
<body>
<h1>{{class_name}} projects</h1>
	<dl>
		{% for index, project in projects %}
		<dt><h2><a href="/project/{{project.project_id}}">{{project.project_name}}</a> <a href="/professor/{{course.course_contact}}">({{ course.course_contact }})</a></h2></dt>
		<dd>{{ course.course_description }}</dd>
		<a href="/">Go Back to Course Catalog Home</a>
		{% endfor %}
	</dl>    
</body>
</body>


<!--Here: a list of the students in the class, perhaps-->

</html>