<html>
	<head>
		<meta charset="utf-8">
		<title>Project Input</title>
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{{url_for('static', filename='Skeleton-2.0.4/css/normalize.css')}}">
	    <link rel="stylesheet" href="{{url_for('static', filename='Skeleton-2.0.4/css/skeleton.css')}}">
	    <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
	  </head>

	<body>
		<div class="container">
			<section class="header">
				<h1>Project</h1>
				<h4 style="margin-bottom: 1rem;">Class Name</h4>
			</section>

			<form method="POST">
				<label for="title">Title</label>
				<input id="title" name="title">
				<label for="students">Student usernames</label>
				<input id="students" name="students">
				<label for="description">Description</label>
				<textarea id="description" name="description" class="u-full-width"></textarea>
				<label for="link"> Link to site, files, pictures, or other documentation</label>
				<input id="link" name="link"><br>
				<input type="submit" value="Submit" onclick="location.href='/user={{ student_id }}/class={{ class_id }}/project={{ project_id }}'">
			</form>
		</div>
	</body>
</html>