<html>
	<head>
		<meta charset="utf-8">
		<title>Your Classes</title>
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{{url_for('static', filename='Skeleton-2.0.4/css/normalize.css')}}">
	    <link rel="stylesheet" href="{{url_for('static', filename='Skeleton-2.0.4/css/skeleton.css')}}">
	    <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
	  </head>
<body>
<h1>Your Classes</h1>
<h2><a href="/user={{username}}/class=POE">POE</a></h2>
</body>
</html>